@media (min-width: 320px) {
	.wrap__title {
		font-style: 15px;
	}
}

@media (min-width: 481px) {
	.wrap__title {
		font-size: 30px;
	}
}

@media (min-width: 641px) {
	.wrap__title {
		font-size: 45px;
	}
}

@media (min-width: 961px) {
	.wrap__title {
		font-size: 60px;
	}
}

@media (min-width: 1025px) {
	.wrap__title {
		font-size: 75px;
	}
}

@media (min-width: 1281px) {
	.wrap__title {
		font-size: 90px;
	}
}

.nav-menu {
    background: #000;
    padding: 15px 10px;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
}

.nav-menu li {
    display: inline-block;
    vertical-align: top;
}

.nav-menu a {
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: 0.3s;
}

.nav-menu a:hover {
    border: 1px solid #fff;
}

input[type="checkbox"] {
    display: none;
}

.button {
    display: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: #f00;
    border: 1px solid #f00;
}

@media (max-width: 800px) {
    .button {
    display: block;
    margin-left: 20px;
   }

    .nav-menu > ul {
        display: none;
    }

    input[type="checkbox"]:checked ~ .button + ul {
        display: block;
    }

    .button__burger {
        width: 35px;
        height: 5px;
        background-color: red;
        margin: 6px 0;
    }

    .nav-menu li {
        display: block;
        text-align: left;
        margin-left: 5px;
        padding: 5 5 5 5;
    }
    
    .button {
      width: 35px;
    }
    
    .nav-menu a {
      display: inline-block;
    }

}
